//colors
$colors: (
  "blue": #005fff,
  "blue-1": #06335c,
  "orange": #db4816,
  "yellow": #f7cc63,
  "white": #f1f2f4,
  "black": #010409,
  "grey": #3a3a3a,
  "grey-border": #dedede
);

//font 字体尺寸
$base-font-size: 1rem;
$sizes: (
  "xs": 0.6,
  "sm": 0.9,
  "md": 1.0769,
  "lg": 1.5
);

//flex布局
$jc: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "between": space-between,
  "around": space-around
);
$ai: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "stretch": stretch
);

//边距
$spacing-types: (
  "m": margin,
  "p": padding
);
$spacing-direction: (
  "t": top,
  "l": left,
  "r": right,
  "b": bottom
);
$base-spacing-size: 1rem;
$spacing-sizes: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3
);
