//colors
$colors: (
  "blue": #005fff,
  "blue-1": #06335c,
  "orange": #db4816,
  "yellow": #f7cc63,
  "blue-2": #2e3c4b,
  "blue-3": #335183,
  "white": #ecedf0,
  "green":#719183,
  "black": #010409,
  "grey": #111111,
  "white-1": #dedede,
  "purple":#2f272c,
);

//font 字体尺寸
$base-font-size: 1rem;
$sizes: (
  "xs": 0.6,
  "sm": 0.9,
  "md": 1.0769,
  "lg": 1.5
);

//flex布局
$jc: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "between": space-between,
  "around": space-around
);
$ai: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "stretch": stretch
);

//边距
$spacing-types: (
  "m": margin,
  "p": padding
);
$spacing-direction: (
  "t": top,
  "l": left,
  "r": right,
  "b": bottom
);
$base-spacing-size: 1rem;
$spacing-sizes: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3
);
